
.main-banner img {
    display: block; 
    width: 100%; 
} 
/* About Section */ 
.about-container { 
    color: white; 
    background-color:     #0b5679;
    padding: 1rem; 
}
.about-section {
    width: 95%; 
    padding: 1rem; 
}
.about-image {
    width: 99%; 
}
.about-section img {
    display: block; 
    width: 100%; 
} 