.main-banner {
    display: block; 
}
.main-banner img {
    display: block; 
    width: 100%; 
}
/* About Section */ 
.about-container{ 
    color: white; 
    background-color:     #0b5679;
}
.about-content {
    padding: 1rem; 
    width: 90%; 
    max-width: 400px; 
}
.about-content img {
    width: 100%; 
}