@import "~bootstrap/scss/bootstrap";

.gallery-page {
    padding: .5rem; 
    color: #0b5679; 
}
.gallery-section h2 {
    text-align: center; 
    padding: 1.5rem; 
}
.gallery-images-container {

    @include media-breakpoint-up(lg) {
        display: flex; 
        flex-direction: row;
    }
}
.gallery-images {
    display: block; 
    padding: .5rem;

    @include media-breakpoint-up(lg) {
        display: flex; 
        flex-direction: row;
    }
}
.gallery-image {
    width: 90%;
    padding: .5rem; 
    
    @include media-breakpoint-up(lg) {
        display: flex; 
        flex-direction: column;
    }
}
.gallery-image img {
    width: 100%; 
    border: 1px solid #0b5679; 
    margin: .5rem; 
}