@import "~bootstrap/scss/bootstrap";

.gallery-page {
    padding: .5rem; 
    color: #0b5679; 
}
.gallery-section h2 {
    text-align: center; 
    padding: 1rem; 
}
.gallery-images-container {
    padding: .5rem; 
}
.gallery-images-wrapper {
    display: block; 
    padding: .5rem;
}
.gallery-images {
    width: 95%;
    padding: .5rem; 
    
    @include media-breakpoint-up(lg) {
        display: flex; 
    }
}
.gallery-images div {
    padding: .5rem; 
    border: 1px solid #0b5679; 
    margin: .5rem; 
}
.gallery-images img {
    width: 100%; 
    background-color: whitesmoke;
}